In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import dask.dataframe as dd

### Load the full dataframe

In [2]:
df = pd.read_csv('/Volumes/external/Sangeetha-Project/Original files/reviews1.csv.zip', compression = 'zip',
                 names=['reviwerId', 'asin', 'review', 'rating',
                        'summary', 'unixtime', 'pos_votes', 'total_votes']) \
    .drop(columns=['review', 'summary', 'unixtime', 'pos_votes', 'total_votes']) \
    .astype({'rating': 'int8'})

In [3]:
df.head()

               reviwerId        asin  rating
0  A10000012B7CGYKOMPQ4L  000100039X       5
1         A2S166WSCFIFP5  000100039X       5
2         A1BM81XB4QHOA3  000100039X       5
3         A1MOSTXNIO5MPJ  000100039X       5
4         A2XQ5LZHTD4AFT  000100039X       5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3010000 entries, 0 to 3009999
Data columns (total 3 columns):
reviwerId    object
asin         object
rating       int8
dtypes: int8(1), object(2)
memory usage: 48.8+ MB

### Checking the density of the data

In [5]:
print('Reviewers under 5: ', (df.reviwerId.value_counts() < 5).mean())
print('Mean reviewers: ', df.reviwerId.value_counts().mean())
print('Median reviewers: ', df.reviwerId.value_counts().median())
print('-----------------------------------------------')
print('Books under 5: ', (df.asin.value_counts() < 5).mean())
print('Mean books: ', df.asin.value_counts().mean())
print('Median books: ', df.asin.value_counts().median())

Reviewers under 5:  0.6687836133393875
Mean reviewers:  6.074365571868221
Median reviewers:  3.0
-----------------------------------------------
Books under 5:  0.0
Mean books:  32.62978741856104
Median books:  12.0

In [6]:
id_counts = df.reviwerId.value_counts()
id_counts

AFVQZQ8PW0L       14072
A14OJS0VWMOSWO     3884
A2F6N60Z96CAJI     3852
A1K1JW1C5CUSUZ     1814
A320TMDV6KCFU      1718
                  ...
AOX748JW0I28R         1
AXIXQEGLL4VMO         1
A2J14AK9URRP76        1
A1Q4F7N5P880EO        1
A2B3QVGHNDFUQW        1
Name: reviwerId, Length: 495525, dtype: int64

In [7]:
book_counts= df.asin.value_counts()
book_counts

030758836X    7440
0439023483    6717
0375831002    4864
038536315X    4604
0439023513    4440
              ...
0441712347       5
0393323994       5
0345431820       5
0373812167       5
0312319304       5
Name: asin, Length: 92247, dtype: int64

### Attempting to make the data denser

In [8]:
id_counts_remove = list(id_counts[id_counts <3].index)
print(len(id_counts_remove))
id_counts_remove[:5]

189424

['A2V1NBLN9MUG4A',
 'A3419POCSDI5FO',
 'A1MHTZNZT97D6H',
 'A24IMAYPSKXB5N',
 'A1AFQWG2H2H7BT']

In [9]:
df[df.reviwerId.isin(id_counts_remove)]

              reviwerId        asin  rating
2        A1BM81XB4QHOA3  000100039X       5
8        A3FI0744PG1WYG  000100039X       5
24        AUTNO7VDY4H4A  000100039X       5
41       A3BHSR8LON67NA  000100039X       5
52        AW1Z7GYIBWB4K  000100039X       5
...                 ...         ...     ...
3009988  A3I044ICARNZK5  0578124114       5
3009992   A36ZD9ZRVXQGQ  0578124114       5
3009994   AQN0BSMCD7W1W  0578124114       5
3009996  A2N513SD0BR6VC  0578124114       5
3009998   AGPSU8WMSWFCZ  0578124114       5

[281360 rows x 3 columns]

In [10]:
df_dense = df.drop(index = df[df.reviwerId.isin(id_counts_remove)].index)

### Analysing the denser dataframe

In [11]:
df_dense.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2728640 entries, 0 to 3009999
Data columns (total 3 columns):
reviwerId    object
asin         object
rating       int8
dtypes: int8(1), object(2)
memory usage: 65.1+ MB

In [12]:
print('Reviewers under 5: ', (df_dense.reviwerId.value_counts() < 5).mean())
print('Mean reviewers: ', df_dense.reviwerId.value_counts().mean())
print('Median reviewers: ', df_dense.reviwerId.value_counts().median())
print('-----------------------------------------------')
print('Books under 5: ', (df_dense.asin.value_counts() < 5).mean())
print('Mean books: ', df_dense.asin.value_counts().mean())
print('Median books: ', df_dense.asin.value_counts().median())

Reviewers under 5:  0.4638174981460368
Mean reviewers:  8.914181920346552
Median reviewers:  5.0
-----------------------------------------------
Books under 5:  0.06259485711807813
Mean books:  29.580677334027147
Median books:  11.0

In [13]:
df_dense.asin.value_counts()

030758836X    6613
0439023483    5766
0375831002    4199
038536315X    3962
0316055433    3907
              ...
0557482305       1
0345498143       1
0545237459       1
0385267029       1
0240820606       1
Name: asin, Length: 92244, dtype: int64

In [14]:
df_dense.reviwerId.value_counts()

AFVQZQ8PW0L       14072
A14OJS0VWMOSWO     3884
A2F6N60Z96CAJI     3852
A1K1JW1C5CUSUZ     1814
A320TMDV6KCFU      1718
                  ...
A13AMTIGRKFG9K        3
AY7S97W40WAXJ         3
A22E78WHDI2AUZ        3
A17S3074CRAMZP        3
A2F87G3MVXRLNT        3
Name: reviwerId, Length: 306101, dtype: int64

In [15]:
len(df_dense.asin.unique())

92244

In [16]:
len(df_dense.reviwerId.unique())

306101

### Attempting to write this new dataframe to csv

In [17]:
dense_index = df_dense.index
dense_index

Int64Index([      0,       1,       3,       4,       5,       6,       7,
                  9,      10,      11,
            ...
            3009985, 3009986, 3009987, 3009989, 3009990, 3009991, 3009993,
            3009995, 3009997, 3009999],
           dtype='int64', length=2728640)

In [18]:
df.loc[dense_index]

                     reviwerId        asin  rating
0        A10000012B7CGYKOMPQ4L  000100039X       5
1               A2S166WSCFIFP5  000100039X       5
3               A1MOSTXNIO5MPJ  000100039X       5
4               A2XQ5LZHTD4AFT  000100039X       5
5               A3V1MKC2BVWY48  000100039X       5
...                        ...         ...     ...
3009991         A2U7WBWEY9LV1K  0578124114       5
3009993         A1U1B6KJPGA4IP  0578124114       4
3009995         A33KNBGC6UM133  0578124114       3
3009997         A11VVB5KUO817E  0578124114       5
3009999         A2V6KMOJUVFY8A  0578124114       5

[2728640 rows x 3 columns]

In [19]:
df

                     reviwerId        asin  rating
0        A10000012B7CGYKOMPQ4L  000100039X       5
1               A2S166WSCFIFP5  000100039X       5
2               A1BM81XB4QHOA3  000100039X       5
3               A1MOSTXNIO5MPJ  000100039X       5
4               A2XQ5LZHTD4AFT  000100039X       5
...                        ...         ...     ...
3009995         A33KNBGC6UM133  0578124114       3
3009996         A2N513SD0BR6VC  0578124114       5
3009997         A11VVB5KUO817E  0578124114       5
3009998          AGPSU8WMSWFCZ  0578124114       5
3009999         A2V6KMOJUVFY8A  0578124114       5

[3010000 rows x 3 columns]

In [20]:
reader = pd.read_csv('/Volumes/external/Sangeetha-Project/Original files/reviews1.csv.zip', compression='zip',
                 names=['reviwerId', 'asin', 'review', 'rating',
                        'summary', 'unixtime', 'pos_votes', 'total_votes'], chunksize = 10000)
counter= 10000
prev = 0
for temp_df in reader:
    
    indices_to_keep = list(df_dense.loc[prev:counter].index)
    print(len(indices_to_keep), min(indices_to_keep), max(indices_to_keep))
    
    temp_df.loc[temp_df.index.intersection(indices_to_keep)].to_csv('/Volumes/external/Sangeetha-Project/book_reviews.csv', 
              columns = ['reviwerId', 'asin', 'review', 'rating',
                        'summary', 'unixtime', 'pos_votes', 'total_votes'],
                          header=False, mode = 'a', index=False)
    print(prev, counter)
    prev = counter+1
    counter+=10000

9037 0 10000
0 10000
9254 10001 20000
10001 20000
8801 20001 30000
20001 30000
8423 30002 39998
30001 40000
8803 40002 50000
40001 50000
9107 50002 60000
50001 60000
9283 60001 70000
60001 70000
9173 70001 80000
70001 80000
9196 80002 90000
80001 90000
9263 90001 100000
90001 100000
9240 100001 110000
100001 110000
9268 110001 120000
110001 120000
8983 120001 130000
120001 130000
9173 130001 140000
130001 140000
9139 140001 150000
140001 150000
9176 150001 159999
150001 160000
9271 160001 170000
160001 170000
9166 170001 180000
170001 180000
9151 180001 189999
180001 190000
9143 190001 200000
190001 200000
9224 200001 210000
200001 210000
9225 210001 220000
210001 220000
9184 220001 230000
220001 230000
9192 230001 240000
230001 240000
9157 240001 250000
240001 250000
9162 250001 260000
250001 260000
9154 260001 270000
260001 270000
9176 270001 280000
270001 280000
9244 280001 290000
280001 290000
9247 290001 300000
290001 300000
9144 300001 310000
300001 310000
9165 310002 320000
310001 320000
9170 320001 330000
320001 330000
9172 330001 340000
330001 340000
8916 340001 350000
340001 350000
9003 350001 359999
350001 360000
9076 360003 370000
360001 370000
9209 370001 380000
370001 380000
9039 380001 390000
380001 390000
9014 390001 400000
390001 400000
9250 400001 410000
400001 410000
8853 410001 420000
410001 420000
9039 420001 430000
420001 430000
9094 430001 439999
430001 440000
8881 440001 450000
440001 450000
8919 450001 460000
450001 460000
8998 460002 470000
460001 470000
8321 470001 480000
470001 480000
8134 480001 490000
480001 490000
8304 490001 500000
490001 500000
9171 500001 510000
500001 510000
8529 510002 520000
510001 520000
8365 520002 530000
520001 530000
9349 530001 540000
530001 540000
9541 540001 550000
540001 550000
9272 550001 560000
550001 560000
9045 560001 570000
560001 570000
9209 570001 580000
570001 580000
9398 580001 590000
580001 590000
9417 590001 600000
590001 600000
9487 600001 610000
600001 610000
9273 610001 620000
610001 620000
9321 620001 630000
620001 630000
9145 630001 640000
630001 640000
8994 640001 650000
640001 650000
9131 650001 660000
650001 660000
8706 660001 670000
660001 670000
9382 670001 680000
670001 680000
8581 680001 690000
680001 690000
9375 690001 700000
690001 700000
9325 700001 710000
700001 710000
9340 710001 720000
710001 720000
9408 720001 730000
720001 730000
9387 730001 740000
730001 740000
9309 740001 750000
740001 750000
9262 750001 760000
750001 760000
9015 760001 770000
760001 770000
9218 770001 780000
770001 780000
9348 780001 790000
780001 790000
9269 790001 800000
790001 800000
9255 800001 810000
800001 810000
9379 810001 820000
810001 820000
9211 820001 829999
820001 830000
9143 830002 840000
830001 840000
9088 840001 850000
840001 850000
9177 850005 860000
850001 860000
9116 860001 870000
860001 870000
8765 870001 880000
870001 880000
8638 880001 890000
880001 890000
9018 890001 900000
890001 900000
9088 900001 910000
900001 910000
9379 910001 920000
910001 920000
9337 920001 930000
920001 930000
9371 930001 939999
930001 940000
8867 940001 950000
940001 950000
8816 950001 960000
950001 960000
9389 960001 970000
960001 970000
9152 970001 980000
970001 980000
8947 980001 990000
980001 990000
8959 990001 1000000
990001 1000000
8961 1000001 1010000
1000001 1010000
8977 1010001 1020000
1010001 1020000
9148 1020001 1030000
1020001 1030000
9001 1030001 1040000
1030001 1040000
9010 1040001 1050000
1040001 1050000
9209 1050001 1059999
1050001 1060000
8948 1060002 1070000
1060001 1070000
9059 1070001 1080000
1070001 1080000
9122 1080001 1090000
1080001 1090000
9180 1090001 1100000
1090001 1100000
8611 1100001 1109997
1100001 1110000
8000 1110001 1120000
1110001 1120000
8047 1120001 1130000
1120001 1130000
7778 1130001 1140000
1130001 1140000
8031 1140001 1150000
1140001 1150000
8613 1150001 1160000
1150001 1160000
9310 1160002 1170000
1160001 1170000
9463 1170001 1180000
1170001 1180000
9212 1180001 1190000
1180001 1190000
9171 1190001 1200000
1190001 1200000
9289 1200001 1210000
1200001 1210000
9063 1210001 1220000
1210001 1220000
9263 1220001 1230000
1220001 1230000
9061 1230001 1240000
1230001 1240000
9407 1240001 1250000
1240001 1250000
9427 1250001 1260000
1250001 1260000
8829 1260001 1270000
1260001 1270000
9119 1270001 1280000
1270001 1280000
9068 1280001 1290000
1280001 1290000
9156 1290001 1300000
1290001 1300000
9255 1300001 1310000
1300001 1310000
9026 1310001 1320000
1310001 1320000
9314 1320001 1330000
1320001 1330000
9372 1330001 1340000
1330001 1340000
9319 1340001 1350000
1340001 1350000
9252 1350001 1360000
1350001 1360000
9438 1360001 1370000
1360001 1370000
9388 1370001 1380000
1370001 1380000
9046 1380001 1390000
1380001 1390000
8905 1390001 1400000
1390001 1400000
9352 1400001 1410000
1400001 1410000
9241 1410001 1420000
1410001 1420000
8986 1420001 1430000
1420001 1430000
8890 1430001 1440000
1430001 1440000
9451 1440001 1450000
1440001 1450000
9058 1450001 1460000
1450001 1460000
8961 1460001 1470000
1460001 1470000
8965 1470001 1480000
1470001 1480000
8868 1480001 1490000
1480001 1490000
8941 1490001 1500000
1490001 1500000
9189 1500001 1509998
1500001 1510000
8296 1510001 1520000
1510001 1520000
9271 1520001 1530000
1520001 1530000
8939 1530001 1540000
1530001 1540000
9025 1540001 1550000
1540001 1550000
9155 1550001 1560000
1550001 1560000
9441 1560001 1570000
1560001 1570000
9512 1570001 1580000
1570001 1580000
9298 1580001 1590000
1580001 1590000
9421 1590001 1600000
1590001 1600000
9358 1600001 1610000
1600001 1610000
9206 1610001 1620000
1610001 1620000
9178 1620001 1629999
1620001 1630000
9197 1630001 1640000
1630001 1640000
9224 1640001 1650000
1640001 1650000
9214 1650001 1660000
1650001 1660000
8824 1660001 1670000
1660001 1670000
9228 1670001 1680000
1670001 1680000
9053 1680002 1690000
1680001 1690000
8680 1690001 1700000
1690001 1700000
8307 1700001 1710000
1700001 1710000
8557 1710001 1720000
1710001 1720000
9007 1720001 1730000
1720001 1730000
9379 1730001 1740000
1730001 1740000
8693 1740001 1750000
1740001 1750000
8722 1750001 1760000
1750001 1760000
8940 1760001 1770000
1760001 1770000
9203 1770002 1780000
1770001 1780000
9339 1780001 1790000
1780001 1790000
9081 1790001 1799999
1790001 1800000
8773 1800001 1810000
1800001 1810000
8954 1810001 1820000
1810001 1820000
9064 1820001 1830000
1820001 1830000
9410 1830001 1840000
1830001 1840000
9309 1840001 1850000
1840001 1850000
9558 1850001 1860000
1850001 1860000
9468 1860001 1870000
1860001 1870000
9476 1870002 1880000
1870001 1880000
9474 1880001 1890000
1880001 1890000
9203 1890001 1900000
1890001 1900000
8878 1900001 1910000
1900001 1910000
9086 1910001 1920000
1910001 1920000
9103 1920002 1930000
1920001 1930000
9164 1930001 1940000
1930001 1940000
8868 1940001 1950000
1940001 1950000
9469 1950001 1960000
1950001 1960000
9138 1960001 1970000
1960001 1970000
9423 1970001 1980000
1970001 1980000
9449 1980001 1990000
1980001 1990000
9405 1990001 2000000
1990001 2000000
9003 2000001 2010000
2000001 2010000
8791 2010001 2020000
2010001 2020000
9145 2020001 2030000
2020001 2030000
9381 2030001 2040000
2030001 2040000
9222 2040001 2050000
2040001 2050000
9274 2050001 2060000
2050001 2060000
9069 2060001 2070000
2060001 2070000
9346 2070001 2080000
2070001 2080000
9367 2080001 2090000
2080001 2090000
9294 2090001 2100000
2090001 2100000
9323 2100001 2110000
2100001 2110000
9300 2110001 2120000
2110001 2120000
9107 2120001 2130000
2120001 2130000
9074 2130001 2140000
2130001 2140000
9081 2140001 2150000
2140001 2150000
9366 2150001 2160000
2150001 2160000
9518 2160001 2170000
2160001 2170000
9507 2170001 2180000
2170001 2180000
9542 2180002 2190000
2180001 2190000
9297 2190001 2200000
2190001 2200000
9103 2200001 2210000
2200001 2210000
8886 2210001 2220000
2210001 2220000
8993 2220001 2230000
2220001 2230000
8966 2230001 2240000
2230001 2240000
8727 2240001 2250000
2240001 2250000
9159 2250001 2260000
2250001 2260000
9239 2260001 2270000
2260001 2270000
9293 2270001 2280000
2270001 2280000
9364 2280001 2290000
2280001 2290000
9439 2290001 2299999
2290001 2300000
9384 2300001 2310000
2300001 2310000
9202 2310001 2320000
2310001 2320000
9186 2320001 2330000
2320001 2330000
8819 2330001 2340000

2330001 2340000
8727 2340001 2349999
2340001 2350000
7839 2350001 2360000
2350001 2360000
8054 2360001 2370000
2360001 2370000
8427 2370001 2380000
2370001 2380000
8764 2380001 2390000
2380001 2390000
9219 2390001 2400000
2390001 2400000
9140 2400001 2410000
2400001 2410000
9166 2410001 2420000
2410001 2420000
9132 2420001 2430000
2420001 2430000
9319 2430001 2440000
2430001 2440000
9524 2440001 2450000
2440001 2450000
9280 2450001 2459997
2450001 2460000
8885 2460003 2469999
2460001 2470000
8940 2470001 2480000
2470001 2480000
9062 2480002 2490000
2480001 2490000
9293 2490002 2500000
2490001 2500000
8605 2500001 2510000
2500001 2510000
8928 2510001 2520000
2510001 2520000
8937 2520001 2530000
2520001 2530000
9045 2530002 2539999
2530001 2540000
8993 2540007 2550000
2540001 2550000
8927 2550003 2560000
2550001 2560000
8863 2560001 2570000
2560001 2570000
9239 2570001 2580000
2570001 2580000
9205 2580001 2590000
2580001 2590000
9059 2590001 2599999
2590001 2600000
8714 2600001 2610000
2600001 2610000
9146 2610003 2620000
2610001 2620000
9347 2620001 2630000
2620001 2630000
9341 2630001 2640000
2630001 2640000
9149 2640001 2650000
2640001 2650000
8758 2650001 2660000
2650001 2660000
8845 2660001 2670000
2660001 2670000
8499 2670001 2680000
2670001 2680000
9439 2680001 2690000
2680001 2690000
8501 2690001 2700000
2690001 2700000
9180 2700001 2710000
2700001 2710000
9049 2710001 2720000
2710001 2720000
9187 2720001 2730000
2720001 2730000
8768 2730001 2740000
2730001 2740000
8510 2740001 2750000
2740001 2750000
8416 2750001 2760000
2750001 2760000
8621 2760001 2770000
2760001 2770000
8549 2770001 2780000
2770001 2780000
8585 2780001 2790000
2780001 2790000
8620 2790001 2800000
2790001 2800000
8377 2800001 2810000
2800001 2810000
9098 2810001 2820000
2810001 2820000
8890 2820001 2830000
2820001 2830000
9120 2830001 2840000
2830001 2840000
8872 2840001 2849997
2840001 2850000
8773 2850001 2860000
2850001 2860000
9005 2860001 2870000
2860001 2870000
8856 2870001 2880000
2870001 2880000
9145 2880001 2890000
2880001 2890000
9436 2890001 2900000
2890001 2900000
9120 2900001 2910000
2900001 2910000
8807 2910001 2920000
2910001 2920000
9240 2920001 2929998
2920001 2930000
9205 2930002 2940000
2930001 2940000
8814 2940001 2950000
2940001 2950000
9292 2950002 2960000
2950001 2960000
9497 2960001 2970000
2960001 2970000
9424 2970001 2980000
2970001 2980000
9119 2980001 2990000
2980001 2990000
7833 2990001 3000000
2990001 3000000
7601 3000001 3009999
3000001 3010000

### Testing the csv file to see if the copy went well

In [21]:
test_df = pd.read_csv('/Volumes/external/Sangeetha-Project/book_reviews.csv',
                 names=['reviwerId', 'asin', 'review', 'rating',
                        'summary', 'unixtime', 'pos_votes', 'total_votes']) \
    .drop(columns=['review', 'summary', 'unixtime','total_votes']).astype({'rating':'int8'})

In [22]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2728360 entries, 0 to 2728359
Data columns (total 4 columns):
reviwerId    object
asin         object
rating       int8
pos_votes    int64
dtypes: int64(1), int8(1), object(2)
memory usage: 65.0+ MB

In [23]:
test_df[test_df.rating.isnull()]

Empty DataFrame
Columns: [reviwerId, asin, rating, pos_votes]
Index: []

In [24]:
print('Reviewers under 5: ', (test_df.reviwerId.value_counts() < 5).mean())
print('Mean reviewers: ', test_df.reviwerId.value_counts().mean())
print('Median reviewers: ', test_df.reviwerId.value_counts().median())
print('-----------------------------------------------')
print('Books under 5: ', (test_df.asin.value_counts() < 5).mean())
print('Mean books: ', test_df.asin.value_counts().mean())
print('Median books: ', test_df.asin.value_counts().median())

Reviewers under 5:  0.4638991705352155
Mean reviewers:  8.913267189587751
Median reviewers:  5.0
-----------------------------------------------
Books under 5:  0.06267074281254065
Mean books:  29.577641906248644
Median books:  11.0

In [26]:
test_df.describe()

             rating     pos_votes
count  2.728360e+06  2.728360e+06
mean   4.153319e+00  3.821344e+00
std    1.104071e+00  2.808396e+01
min    1.000000e+00  0.000000e+00
25%    4.000000e+00  0.000000e+00
50%    5.000000e+00  1.000000e+00
75%    5.000000e+00  2.000000e+00
max    5.000000e+00  2.331100e+04

In [27]:
test_df.pos_votes.max()

23311

### Cleaning the negative values of the pos_votes and total_votes

In [87]:
test_df.loc[95:110]

          reviwerId        asin  rating  pos_votes
95    AMFSDTN7LJ4EM  000100039X       5          1
96   A3Q5B6YEMGK4HI  000100039X       5          0
97    AYZLXLVMJGTJV  000100039X       5          1
98    AG74166FELW9U  000100039X       5          0
99   A2ZZHMT58ZMVCZ  000100039X       5        -49
100   A5K32C2QZN3WL  000100039X       4          4
101  A1VSHT4FFP768T  000100039X       5          2
102   A4KYR93C6D5AI  000100039X       5          1
103    AQDD7PB1Z8ND  000100039X       5          0
104  A157UENZPTI1TD  000100039X       5          0
105  A3W43PSHRIG8KV  000100039X       4       -100
106  A1P5UBFPQ48OWN  000100039X       5          4
107   AACNFH28C1ZHB  000100039X       2         10
108   AO3IVXXU3T4R3  000100039X       5          0
109  A2I0AOWKGCU6M1  000100039X       5          1
110  A2OKG8UA0G4OXS  000100039X       5          0

In [72]:
test_df[test_df.pos_votes < 0]

              reviwerId        asin  rating  pos_votes
99       A2ZZHMT58ZMVCZ  000100039X       5        -49
105      A3W43PSHRIG8KV  000100039X       4       -100
1163     A2PR6NXG0PA3KY  0002007770       2        -55
1497      ALLJT7S5QOFFZ  0002007770       3        -40
1640     A22ABFEL815EY7  0002007770       3        -18
...                 ...         ...     ...        ...
2724046   A7H4LNXXJ3DM6  0575088885       3        -31
2724343  A3DQWFWINN3V5A  0575097469       5       -109
2725911  A259Q7R79WRGOY  0578032147       2        -69
2725979  A2X7NBUETXC19E  0578032147       5       -102
2726916  A2ZZHMT58ZMVCZ  0578061112       5        -32

[5338 rows x 4 columns]

In [74]:
df[(df.reviwerId == 'A2ZZHMT58ZMVCZ')&(df.asin == '000100039X')]

          reviwerId        asin  rating
114  A2ZZHMT58ZMVCZ  000100039X       5

In [75]:
check_df = df = pd.read_csv('/Volumes/external/Sangeetha-Project/Original files/reviews1.csv.zip', compression = 'zip',
                 names=['reviwerId', 'asin', 'review', 'rating',
                        'summary', 'unixtime', 'pos_votes', 'total_votes'], nrows = 1000) \
    .drop(columns=['review', 'summary', 'unixtime']) \
    .astype({'rating': 'int8', 'pos_votes': 'int8', 'total_votes': 'int8'})

In [76]:
check_df[(check_df.reviwerId == 'A2ZZHMT58ZMVCZ')&(check_df.asin == '000100039X')]

          reviwerId        asin  rating  pos_votes  total_votes
114  A2ZZHMT58ZMVCZ  000100039X       5        -49          -41

In [81]:
import gzip 

data = []
counter = 0

with gzip.open('/Users/Sangeetha/Downloads/reviews_Books_5.json.gz') as f:
    for l in f:
        #To limit the number of rows
        if counter < 1000:
            data.append(json.loads(l.strip()))
            counter+=1
        else: 
            break

    og_df = pd.DataFrame.from_dict(data)

In [85]:
og_df.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A10000012B7CGYKOMPQ4L,000100039X,Adam,"[0, 0]",Spiritually and mentally inspiring! A book tha...,5.0,Wonderful!,1355616000,"12 16, 2012"
1,A2S166WSCFIFP5,000100039X,"adead_poet@hotmail.com ""adead_poet@hotmail.com""","[0, 2]",This is one my must have books. It is a master...,5.0,close to god,1071100800,"12 11, 2003"
2,A1BM81XB4QHOA3,000100039X,"Ahoro Blethends ""Seriously""","[0, 0]",This book provides a reflection that you can a...,5.0,Must Read for Life Afficianados,1390003200,"01 18, 2014"
3,A1MOSTXNIO5MPJ,000100039X,Alan Krug,"[0, 0]",I first read THE PROPHET in college back in th...,5.0,Timeless for every good and bad time in your l...,1317081600,"09 27, 2011"
4,A2XQ5LZHTD4AFT,000100039X,Alaturka,"[7, 9]",A timeless classic. It is a very demanding an...,5.0,A Modern Rumi,1033948800,"10 7, 2002"

In [93]:
og_df[(og_df.reviewerID == 'A2ZZHMT58ZMVCZ')&(og_df.asin == '000100039X')]

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
114,A2ZZHMT58ZMVCZ,000100039X,"L. Power ""nlp trainer""","[207, 215]",A prophet has waited twelve years in a coastal...,5.0,Deeper than you can imagine,1137456000,"01 17, 2006"

In [97]:
og_df[(og_df.reviewerID == 'A3W43PSHRIG8KV')&(og_df.asin == '000100039X')]

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
120,A3W43PSHRIG8KV,000100039X,Mary Seale,"[156, 167]",I first became aware of Kahlil Gibran when I r...,4.0,Insightful Prose,957571200,"05 6, 2000"

In [106]:
og_df_subset = og_df.loc[95:125].copy()

In [107]:
og_df_subset

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
95,AAFLZI7MX9UIG,000100039X,J. M. DELEON,"[0, 0]",Slow reading but full of Significant messages....,5.0,Wonderful,1381104000,"10 7, 2013"
96,A1FQPOYRBTTK1,000100039X,"John H. Eagan ""Author: The Enlightenment, Wha...","[0, 0]",The Prophet by Kahlil Gibran is a book that's ...,5.0,Interesting book,1235865600,"03 1, 2009"
97,A1JBOMEZBH80JU,000100039X,"Joshua A. ""I love switching back and forth be...","[0, 0]",This is a classic of world literature. Everyo...,5.0,"A must read for every young person, a joy and ...",1385942400,"12 2, 2013"
98,A2DFYTW62P25Z,000100039X,J. R. Willoughby DDS,"[0, 0]",I was in my twenties when I first read The Pro...,5.0,Through four decades,1402704000,"06 14, 2014"
99,A2MPRPCAQLTR3L,000100039X,"Judith Land ""Adoption Detective | First Lilac...","[0, 0]",A book to be treasured. A tremendous poet deal...,5.0,Equalled only by Shakespeare!,1310688000,"07 15, 2011"
100,A2W6WXEUAVM3E,000100039X,JuJuBee,"[3, 5]",I read it in an hour. Kahlil Gibran is definit...,5.0,Timeless,1046304000,"02 27, 2003"
101,A7GT0WQKKDP0V,000100039X,"Julie Jordan Scott ""Writer, Life Coach - Owne...","[2, 2]",Reading a classic such as &quot;The Prophet&qu...,5.0,To Be Experienced as Well as Read,1065139200,"10 3, 2003"
102,ATAPOART4QGVO,000100039X,Kate,"[3, 15]",Maybe I just wasn't in the right mood for a he...,3.0,Now I'm Sleepy,1183420800,"07 3, 2007"
103,A2052JNVUPRTMT,000100039X,Kathy Adams,"[97, 103]",Gibran gets right down to the bedrock of what ...,5.0,Pure Wisdom,973814400,"11 10, 2000"
104,ADT39C7GOEAWW,000100039X,"Kenny ""crochet guy""","[0, 0]","The book came in great condition, as well as, ...",4.0,Satisfied.,1312588800,"08 6, 2011"
105,ASW9FWXSGKV2C,000100039X,Ken Smith,"[0, 0]",A short and magnificent book that will forever...,5.0,None Better,1394323200,"03 9, 2014"
106,AGKPTMTR3UX1R,000100039X,"Konrei ""Everything I need is right here""","[17, 20]","Kahlil Gibran (1883-1931), the Lebanese-Americ...",5.0,"""People of Orphalese...""",1176076800,"04 9, 2007"
107,A1HS49P9TZRGV9,000100039X,KRLA,"[7, 9]",My father has this huge book collection and I ...,5.0,My Bible...,1095379200,"09 17, 2004"
108,AMFSDTN7LJ4EM,000100039X,Kwan Yin,"[1, 2]",This is Kahlil Gibran at his best. The prophe...,5.0,Spectacular,951004800,"02 20, 2000"
109,A3Q5B6YEMGK4HI,000100039X,Lesley Oliverio,"[0, 0]",My favorite book. I used the passaged in my w...,5.0,A beautiful spiritual book,1396828800,"04 7, 2014"
110,A2W4TXYV1M7FQ4,000100039X,"Linda Demaria Schierberg ""SUNBIRD FLIES BACK ...","[0, 0]",received on time and thank you for rel good on...,5.0,satisfied good ole book in the condition you t...,1299715200,"03 10, 2011"
111,AYZLXLVMJGTJV,000100039X,L. J Nary,"[1, 1]","This book takes different themes such as work,...",5.0,Helpful Tool in gaining insight to spirit,1280275200,"07 28, 2010"
112,AG74166FELW9U,000100039X,loni,"[0, 1]","""A brilliant man's philosophy on love, marriag...",5.0,Inspiringly simple but also deep ...,1198886400,"12 29, 2007"
113,A2W53LAQBPR831,000100039X,Lovebooks,"[1, 1]",I wanted the book the Prophet as an anniversar...,4.0,Found what I was looking for,1342915200,"07 22, 2012"
114,A2ZZHMT58ZMVCZ,000100039X,"L. Power ""nlp trainer""","[207, 215]",A prophet has waited twelve years in a coastal...,5.0,Deeper than you can imagine,1137456000,"01 17, 2006"
115,A5K32C2QZN3WL,000100039X,"L. S. Cohen ""Writer""","[4, 5]",This book was the first and only I've read by ...,4.0,Chapters and Chapters of Insight and Revelation,1100649600,"11 17, 2004"
116,A1VSHT4FFP768T,000100039X,MadG,"[2, 2]",Everyone carries an omnificent quality within ...,5.0,A book that creates change.,1279584000,"07 20, 2010"
117,A4KYR93C6D5AI,000100039X,Marilyn Harding,"[1, 1]",Since I first read The Prophet when I was a te...,5.0,A Loving Companion Book,1387152000,"12 16, 2013"
118,AQDD7PB1Z8ND,000100039X,Mark,"[0, 0]",I have been reading The Prophet every year for...,5.0,Read Every Year,1331251200,"03 9, 2012"
119,A157UENZPTI1TD,000100039X,martina,"[0, 0]",Needed to read this and could not find my old ...,5.0,Never tire of this book!,1355356800,"12 13, 2012"
120,A3W43PSHRIG8KV,000100039X,Mary Seale,"[156, 167]",I first became aware of Kahlil Gibran when I r...,4.0,Insightful Prose,957571200,"05 6, 2000"
121,A3HLNFF21USD1K,000100039X,"Maureen A. Wilkie ""mo in michigan""","[0, 56]",I appreciate getting the book at the great pri...,1.0,adequate,1219708800,"08 26, 2008"
122,A1P5UBFPQ48OWN,000100039X,McGuffy Ann,"[4, 4]",I first read this book as a teenager. It has r...,5.0,Profound,1315872000,"09 13, 2011"
123,AACNFH28C1ZHB,000100039X,M. Chabot,"[10, 28]",I picked up this book after being inspired by ...,2.0,A bit disappointed,1112313600,"04 1, 2005"
124,AO3IVXXU3T4R3,000100039X,megtaylor,"[0, 0]",This was my favorite book when i was 19! So I ...,5.0,This Wisdom is timeless,1355961600,"12 20, 2012"
125,ANWMXAZZR2J0A,000100039X,"Mr. Barry C. Thompson ""Barthom""","[0, 0]",Great read! A book for the ages! Each little p...,5.0,Magic Thoughts!!,1367625600,"05 4, 2013"

In [108]:
og_df_subset['x'] = [x for [x,y] in og_df_subset.helpful]
og_df_subset['y'] = [y for [x,y] in og_df_subset.helpful]
og_df_subset.drop(columns = ['helpful', 'reviewTime', 'reviewerName'], inplace=True)
og_df_subset

,reviewerID,asin,reviewText,overall,summary,unixReviewTime,x,y
95,AAFLZI7MX9UIG,000100039X,Slow reading but full of Significant messages....,5.0,Wonderful,1381104000,0,0
96,A1FQPOYRBTTK1,000100039X,The Prophet by Kahlil Gibran is a book that's ...,5.0,Interesting book,1235865600,0,0
97,A1JBOMEZBH80JU,000100039X,This is a classic of world literature. Everyo...,5.0,"A must read for every young person, a joy and ...",1385942400,0,0
98,A2DFYTW62P25Z,000100039X,I was in my twenties when I first read The Pro...,5.0,Through four decades,1402704000,0,0
99,A2MPRPCAQLTR3L,000100039X,A book to be treasured. A tremendous poet deal...,5.0,Equalled only by Shakespeare!,1310688000,0,0
100,A2W6WXEUAVM3E,000100039X,I read it in an hour. Kahlil Gibran is definit...,5.0,Timeless,1046304000,3,5
101,A7GT0WQKKDP0V,000100039X,Reading a classic such as &quot;The Prophet&qu...,5.0,To Be Experienced as Well as Read,1065139200,2,2
102,ATAPOART4QGVO,000100039X,Maybe I just wasn't in the right mood for a he...,3.0,Now I'm Sleepy,1183420800,3,15
103,A2052JNVUPRTMT,000100039X,Gibran gets right down to the bedrock of what ...,5.0,Pure Wisdom,973814400,97,103
104,ADT39C7GOEAWW,000100039X,"The book came in great condition, as well as, ...",4.0,Satisfied.,1312588800,0,0
105,ASW9FWXSGKV2C,000100039X,A short and magnificent book that will forever...,5.0,None Better,1394323200,0,0
106,AGKPTMTR3UX1R,000100039X,"Kahlil Gibran (1883-1931), the Lebanese-Americ...",5.0,"""People of Orphalese...""",1176076800,17,20
107,A1HS49P9TZRGV9,000100039X,My father has this huge book collection and I ...,5.0,My Bible...,1095379200,7,9
108,AMFSDTN7LJ4EM,000100039X,This is Kahlil Gibran at his best. The prophe...,5.0,Spectacular,951004800,1,2
109,A3Q5B6YEMGK4HI,000100039X,My favorite book. I used the passaged in my w...,5.0,A beautiful spiritual book,1396828800,0,0
110,A2W4TXYV1M7FQ4,000100039X,received on time and thank you for rel good on...,5.0,satisfied good ole book in the condition you t...,1299715200,0,0
111,AYZLXLVMJGTJV,000100039X,"This book takes different themes such as work,...",5.0,Helpful Tool in gaining insight to spirit,1280275200,1,1
112,AG74166FELW9U,000100039X,"""A brilliant man's philosophy on love, marriag...",5.0,Inspiringly simple but also deep ...,1198886400,0,1
113,A2W53LAQBPR831,000100039X,I wanted the book the Prophet as an anniversar...,4.0,Found what I was looking for,1342915200,1,1
114,A2ZZHMT58ZMVCZ,000100039X,A prophet has waited twelve years in a coastal...,5.0,Deeper than you can imagine,1137456000,207,215
115,A5K32C2QZN3WL,000100039X,This book was the first and only I've read by ...,4.0,Chapters and Chapters of Insight and Revelation,1100649600,4,5
116,A1VSHT4FFP768T,000100039X,Everyone carries an omnificent quality within ...,5.0,A book that creates change.,1279584000,2,2
117,A4KYR93C6D5AI,000100039X,Since I first read The Prophet when I was a te...,5.0,A Loving Companion Book,1387152000,1,1
118,AQDD7PB1Z8ND,000100039X,I have been reading The Prophet every year for...,5.0,Read Every Year,1331251200,0,0
119,A157UENZPTI1TD,000100039X,Needed to read this and could not find my old ...,5.0,Never tire of this book!,1355356800,0,0
120,A3W43PSHRIG8KV,000100039X,I first became aware of Kahlil Gibran when I r...,4.0,Insightful Prose,957571200,156,167
121,A3HLNFF21USD1K,000100039X,I appreciate getting the book at the great pri...,1.0,adequate,1219708800,0,56
122,A1P5UBFPQ48OWN,000100039X,I first read this book as a teenager. It has r...,5.0,Profound,1315872000,4,4
123,AACNFH28C1ZHB,000100039X,I picked up this book after being inspired by ...,2.0,A bit disappointed,1112313600,10,28
124,AO3IVXXU3T4R3,000100039X,This was my favorite book when i was 19! So I ...,5.0,This Wisdom is timeless,1355961600,0,0
125,ANWMXAZZR2J0A,000100039X,Great read! A book for the ages! Each little p...,5.0,Magic Thoughts!!,1367625600,0,0

### Reuploading the original json file as csv

In [161]:
reader = pd.read_json('/Users/Sangeetha/Downloads/reviews_Books_5.json.gz',
                      compression = 'gzip', lines=True, chunksize=10000)

counter = 0
for data in reader:
    if counter < 10000:
        data['helpful_votes'] = [x for [x, y] in data.helpful]
        data['total_votes'] = [y for [x, y] in data.helpful]
        data.drop(columns=['reviewTime', 'helpful', 'reviewerName'], inplace=True)
        data.to_csv('/Volumes/external/Sangeetha-Project/reviews_clean.csv',
                          header=False, index=True, mode='a')
    else:
        break
        
    counter+=10000
    print(counter)

Index(['reviewerID', 'asin', 'reviewText', 'overall', 'summary',
       'unixReviewTime', 'helpful_votes', 'total_votes'],
      dtype='object')
0
10000

### Checking the pos_votes isn't negative -TURNS OUT I WAS CASTING WRONG INT TYPE

In [174]:
check_df = pd.read_csv('/Volumes/external/Sangeetha-Project/reviews_clean.csv',
                 names=['reviwerId', 'asin', 'review', 'rating',
                        'summary', 'unixtime', 'pos_votes', 'total_votes'], nrows = 1000) \
    .drop(columns=['review', 'summary', 'unixtime']) \
    .astype({'rating': 'int8', 'pos_votes': 'int8', 'total_votes': 'int8'})

In [175]:
check_df[(check_df.reviwerId == 'A2ZZHMT58ZMVCZ')&(check_df.asin == '000100039X')]

          reviwerId        asin  rating  pos_votes  total_votes
114  A2ZZHMT58ZMVCZ  000100039X       5        -49          -41