In [6]:
import numpy as np
import pandas as pd
import gzip

In [15]:
'''with gzip.open('https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Books_v1_01.tsv.gz') as f:
    amazon2 = pd.read_csv(f, sep = '\t', header=0, skiprows= lambda x: x in [2750082])

amazon2.head()'''

"with gzip.open('https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Books_v1_01.tsv.gz') as f:\n    amazon2 = pd.read_csv(f, sep = '\t', header=0, skiprows= lambda x: x in [2750082])\n\namazon2.head()"

In [27]:
#amazon = pd.read_csv(f, sep = '\t', header=0, skiprows= lambda x: x in [1680000], compression = 'gzip')

with gzip.open('/Users/Sangeetha/GA/amazon_reviews_us_Books_v1_02.tsv.gz') as f:
    amazon = pd.read_csv(f, sep = '\t', header=0, nrows = 1)

headers = amazon.columns

with gzip.open('/Users/Sangeetha/GA/amazon_reviews_us_Books_v1_02.tsv.gz') as f:
    amazon = pd.read_csv(f, sep = '\t', header=0,
                         skiprows= lambda x: x in [1680000], 
                         usecols= [i for i in headers if i not in 
                                   ['review_body', 'product_category', 'vine', 'review_id', 'marketplace']])

amazon.head()
print(amazon.shape)

(3105370, 10)

In [28]:
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3105370 entries, 0 to 3105369
Data columns (total 10 columns):
customer_id          int64
product_id           object
product_parent       int64
product_title        object
star_rating          float64
helpful_votes        float64
total_votes          float64
verified_purchase    object
review_headline      object
review_date          object
dtypes: float64(3), int64(2), object(5)
memory usage: 236.9+ MB

In [29]:
amazon.shape

(3105370, 10)

In [32]:
amazon.customer_id.unique().shape

(1502331,)

In [33]:
amazon.head()

,customer_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,verified_purchase,review_headline,review_date
0,12076615,0385730586,122662979,Sisterhood of the Traveling Pants (Book 1),4.0,2.0,3.0,N,this book was a great learning novel!,2005-10-14
1,12703090,0811828964,56191234,The Bad Girl's Guide to Getting What You Want,3.0,5.0,5.0,N,Fun Fluff,2005-10-14
2,12257412,1844161560,253182049,"Eisenhorn (A Warhammer 40,000 Omnibus)",4.0,1.0,22.0,N,this isn't a review,2005-10-14
3,50732546,0373836635,348672532,Colby Conspiracy (Colby Agency),5.0,2.0,2.0,N,fine author on her A-game,2005-10-14
4,51964897,0262181533,598678717,The Psychology of Proof: Deductive Reasoning i...,4.0,0.0,2.0,N,Execellent cursor examination,2005-10-14

In [34]:
amazon.product_id.unique().shape

(779714,)

In [35]:
amazon.product_title.unique().shape

(713684,)

In [36]:
amazon.product_parent.unique().shape

(666020,)

In [39]:
parent = amazon.groupby('product_parent').count()[['product_title']].sort_values(by='product_title', ascending =False)
parent

                product_title
product_parent
667539744               15925
669379389                3815
315416156                3221
857217799                2785
829131114                2619
...                       ...
451826418                   1
451826322                   1
451826221                   1
451822204                   1
999999938                   1

[666020 rows x 1 columns]

In [42]:
amazon[amazon.product_parent == 669379389]

,customer_id,product_id,product_parent,product_title,star_rating,helpful_votes,total_votes,verified_purchase,review_headline,review_date
2136,15192562,0618260587,669379389,The Lord of the Rings,5.0,1.0,4.0,N,Wonderful,2005-10-13
4936,13256853,0618517650,669379389,The Lord of the Rings (50th Anniversary Edition),3.0,31.0,102.0,N,"Easy to admire, difficult to enjoy",2005-10-11
11350,14480837,0395177111,669379389,The Hobbit (or There and Back Again),5.0,4.0,4.0,N,Pride,2005-10-07
13017,36553929,0345340426,669379389,J.R.R. Tolkien Boxed Set (The Hobbit and The L...,5.0,1.0,5.0,N,there is nothing more to say...,2005-10-06
13613,50780253,0788789821,669379389,The Hobbit,5.0,2.0,2.0,Y,"Bilbo, the hero from Hobbiton",2005-10-06
...,...,...,...,...,...,...,...,...,...,...
3102434,53078876,0395272238,669379389,The Fellowship of the Ring (Lord of the Rings),5.0,1.0,1.0,N,The diamond.,1996-10-23
3103090,53083150,0395282659,669379389,The Hobbit,5.0,0.0,0.0,N,The Book everyone must read.,1996-09-18
3103200,53092469,0395193958,669379389,The Lord of the Rings,5.0,2.0,2.0,N,This gets better with age...the trilogy's and ...,1996-09-12
3103841,53086513,0395595118,669379389,The Lord of the Rings,1.0,3.0,19.0,N,If you're a Tolkien Fan you've got to have thi...,1996-08-04
3104717,53091137,0395071224,669379389,The Hobbit,5.0,0.0,0.0,N,The book that started the Fantasy genre!!,1996-06-01

In [26]:
a_sorted = amazon.groupby('customer_id').count()[['product_id']].sort_values(by='product_id', ascending = False)

In [ ]:
a1_sorted[a1_sorted.review_id == 1]

In [38]:
a1_sorted

             review_id
customer_id
50122160          4976
50732546          2713
50776149          1745
20595117          1635
38491967           896
...                ...
25780322             1
25780442             1
25780640             1
25780685             1
33218960             1

[323534 rows x 1 columns]