In [2]:
import pandas as pd 
import numpy as np
import gzip
import gdown

In [1]:
'''url = 'https://drive.google.com/uc?id=1zmylV7XW2dfQVCLeg1LbllfQtHD2KUon'
gdown.download(url, output=None, quiet=False)'''

"url = 'https://drive.google.com/uc?id=1zmylV7XW2dfQVCLeg1LbllfQtHD2KUon'\ngdown.download(url, output=None, quiet=False)"

In [11]:
f = '/Users/Sangeetha/GA/goodreads_interactions.csv'
df = pd.read_csv(f, header=0, nrows = 1000)

In [12]:
df.tail()

     user_id  book_id  is_read  rating  is_reviewed
995        1     1024        1       5            0
996        1     1021        1       5            0
997        1      943        1       5            0
998        1     1020        0       0            0
999        1      704        1       5            0

In [14]:
df.user_id.value_counts()

0    949
1     51
Name: user_id, dtype: int64