In [5]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
import gzip

In [8]:
url = '/Users/Sangeetha/Downloads/ratings_Books.csv'
header = ['user', 'book', 'rating', 'unix_time']
df = dd.read_csv(url, header = header)

In [27]:
df.head().info()

/opt/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
user         5 non-null object
book         5 non-null object
rating       5 non-null int8
unix_time    5 non-null int32
dtypes: int32(1), int8(1), object(2)
memory usage: 233.0+ bytes

In [17]:
df.head()

/opt/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

             user        book  rating   unix_time
0  A2IIIDRK3PRRZY  0000000116     1.0  1395619200
1  A1TADCM7YWPQ8M  0000000868     4.0  1031702400
2   AWGH7V0BDOJKB  0000013714     4.0  1383177600
3  A3UTQPQPM4TQO0  0000013714     5.0  1374883200
4   A8ZS0I5L5V31B  0000013714     5.0  1393632000

In [14]:
df.columns = ['user', 'book', 'rating', 'unix_time']

In [20]:
df.describe(include='all').compute()

/opt/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

                  user        book        rating     unix_time
unique         8026324     2330069           NaN           NaN
count         22507154    22507154  2.250715e+07  2.250715e+07
top     A14OJS0VWMOSWO  0439023483           NaN           NaN
freq             43201       21398           NaN           NaN
mean               NaN         NaN  4.295759e+00  1.310415e+09
std                NaN         NaN  1.111507e+00  1.106154e+08
min                NaN         NaN  1.000000e+00  8.325504e+08
25%                NaN         NaN  4.000000e+00  1.332029e+09
50%                NaN         NaN  5.000000e+00  1.373501e+09
75%                NaN         NaN  5.000000e+00  1.403222e+09
max                NaN         NaN  5.000000e+00  1.406074e+09

In [19]:
df.rating.value_counts().compute()

/opt/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

5.0    13886788
4.0     4602554
3.0     1922390
1.0     1116862
2.0      978560
Name: rating, dtype: int64

In [26]:
df.rating = df.rating.astype('int8')
df.unix_time = df.unix_time.astype('int32')

In [23]:
df.rating.head()

/opt/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

0    1
1    4
2    4
3    5
4    5
Name: rating, dtype: int8

In [30]:
sr = pd.Series(['New York', 'Chicago', 'Toronto', 34, 'Rio', 'New York', 'Rio', 'Rio', 38248738])
sr.factorize()[0]

array([0, 1, 2, 3, 4, 0, 4, 4, 5])

In [31]:
df.user = df.user.factorize()[0]

AttributeError: 'Series' object has no attribute 'factorize'

In [34]:
df = df.categorize(columns=['user', 'book']).compute()

/opt/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]
/opt/anaconda3/lib/python3.7/site-packages/dask/core.py:118: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

In [ ]:
(df.rating.value_counts() > 1000000)

In [42]:
(sr.value_counts() == 1)

6

In [43]:
test =  df.user.value_counts()